
<main class="flex-column-center">
    <table>
        <thead>
        <td>Nº</td>
        <td>Disponibilidad</td>
        <td>Ingreso</td>
        <td>Acciones</td>
    </thead>
    <tbody>
        @for (cochera of dataCocherasService.cocheras; track $index) {
            <tr>
                <td> {{ cochera.id }} </td>
                <td>
                    <span [ngClass]="{'disponible': !cochera.deshabilitada,'ocupado': cochera.deshabilitada}">{{ !cochera.deshabilitada ? 'Disponible' : 'Ocupado' }}</span>
                </td>
                <td>{{ cochera.descripcion }}</td>
                <td class="acciones-container"> 
                    @if(!cochera.deshabilitada){
                        <button (click)="deshabilitarCochera($index)"><img src="Rojo.png" alt="Deshabilitar cochera"></button>
                    } @else {
                        <button (click)="habilitarCochera($index)"><img src="Verde.png" alt="Habilitar cochera"></button>

                    }
                    @if(esAdmin){   
                        <button (click)="preguntarBorrarCochera($index)"><img src="Borrar.png" alt="Eliminar cochera"></button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if(esAdmin){
    <div class="botonera">
        <button id="borrar-todo" (click)="BorrarTodo()" class="boton-resaltado">Borrar Todo</button>
        <button id="agregar-cochera" (click)="agregarCochera()" class="boton-resaltado">+</button>
    </div>
}
</main>