@use "./colors.scss";

table {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto;

  thead, tr {
      display: grid;
      grid-template-columns: 50px 1fr 1fr 1fr;
      min-width: 600px;
      justify-items: center;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid colors.$color-texto;
  }

  thead {
    font-weight: bold;
  }

  tr:hover {
    background-color: rgba(0, 0, 0, 0.1); // Fondo en hover
  }

  .acciones-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      width: 50px;
      display: grid;
      align-items: center;

      img {
        width: 80%;
        margin: auto;
      }
    }
  }
}

.disponible {
  background: linear-gradient(to right, #22a522, #00de00); // De verde oscuro a verde claro
  padding: 7.5px 12.5px;
  border-radius: 15px;
  color: colors.$color-texto-invertido;
  pointer-events: none;
  font-weight: bold;
}

.ocupado {
  background: linear-gradient(to right, #FF0000, #ff6a00); // De rojo a naranja
  padding: 7.5px 12.5px;
  border-radius: 15px;
  color: colors.$color-texto-invertido;
  pointer-events: none;
  font-weight: bold;
}
